<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MpcDelete.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MpcDelete.Properties.Settings>
            <setting name="MpcPath" serializeAs="String">
                <value>C:\Tools\Media Player Classic\mplayerc.exe</value>
            </setting>
            <setting name="LircServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LircPort" serializeAs="String">
                <value>8765</value>
            </setting>
        </MpcDelete.Properties.Settings>
    </applicationSettings>
</configuration>